In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from pandas_datareader.data import DataReader
import yfinance as yf
from pandas_datareader import data as pdr
yf.pdr_override()
from datetime import datetime

In [8]:
#list of companies to get data from
import yfinance as yf
companies = ['AAPL', 'GOOG', 'AMZN', 'MSFT', 'FB',
              'TSLA', 'NVDA', 'INTC', 'CSCO', 'ADBE', 'PYPL', 'NFL']

#setting a time range for the data
end = datetime.now()
start = datetime(end.year-1, end.month, end.day)
#getting stock data
for stock in companies:
    globals()[stock] = yf.download(stock, start, end)

company_list = [AAPL, GOOG, AMZN, MSFT, FB,
              TSLA, NVDA, INTC, CSCO, ADBE, PYPL, NFL]
company_name = ["APPLE", "GOOGLE", "AMAZON", "MICROSOFT", "FACEBOOK",
                "TESLA", "NVIDIA", "INTEL", "CISCO", "ADOBE", "PAYPAL", "NFLIX"]

for company, com_name in zip(company_list, company_name):
    company['Name'] = com_name

df = pd.concat(company_list, axis=0)
df

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

1 Failed download:
['GOOG']: Exception('%ticker%: No price data found, symbol may be delisted (1d 2022-10-20 00:00:00 -> 2023-10-20 15:15:55.153287)')

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

1 Failed download:
['FB']: Exception('%ticker%: No timezone found, symbol may be delisted')

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

1 Failed download:
['INTC']: Exception('%ticker%: No price data found, symbol may be delisted (1d 2022-10-20 00:00:00 -> 2023-10-20 15:15:55.153287)')

[*********************100%%**********************]  1 of 1 completed

1 Failed download:
['CSCO']: Exception('%ticker%: No price data found, symbol may be delisted (1d 2022-10-20 00:00:00 -> 2023-10-20 15:15:55.153287)')

[*********************100%%**********************]  1 of 1 completed

1 Failed download:
['ADBE']: Exception('%ticker%: No price data found, symbol may be delisted (1d 2022-10-20 00:00:00 -> 2023-10-20 15:15:55.153287)')

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

1 Failed download:
['NFL']: Exception('%ticker%: No price data found, symbol may be delisted (1d 2022-10-20 00:00:00 -> 2023-10-20 15:15:55.153287)')

C:\Users\murega\AppData\Local\Temp\ipykernel_9392\1694941624.py:21: FutureWarning: The behavior of array concatenation with empty entries is deprecated. In a future version, this will no longer exclude empty items when determining the result dtype. To retain the old behavior, exclude the empty entries before the concat operation.
  df = pd.concat(company_list, axis=0)

,Open,High,Low,Close,Adj Close,Volume,Name
Date,,,,,,,
2022-10-20,143.020004,145.889999,142.649994,143.389999,142.544373,64522000.0,APPLE
2022-10-21,142.869995,147.850006,142.649994,147.270004,146.401505,86548600.0,APPLE
2022-10-24,147.190002,150.229996,146.000000,149.449997,148.568634,75981900.0,APPLE
2022-10-25,150.089996,152.490005,149.360001,152.339996,151.441605,74732300.0,APPLE
2022-10-26,150.960007,151.990005,148.039993,149.350006,148.469223,88194300.0,APPLE
...,...,...,...,...,...,...,...
2023-10-13,56.500000,56.880001,55.529999,55.750000,55.750000,12048500.0,PAYPAL
2023-10-16,56.110001,57.080002,55.810001,57.000000,57.000000,14267700.0,PAYPAL
2023-10-17,56.509998,57.590000,56.490002,57.160000,57.160000,10325200.0,PAYPAL
2023-10-18,56.529999,57.097000,55.705002,55.799999,55.799999,10514500.0,PAYPAL
2023-10-19,55.660000,56.400002,54.700001,54.810001,54.810001,16267100.0,PAYPAL

In [9]:
#identifying the companies present in the dataset
df['Name'].unique()

array(['APPLE', 'AMAZON', 'MICROSOFT', 'TESLA', 'NVIDIA', 'PAYPAL'],
      dtype=object)

In [10]:
#getting the dataset shape
df.shape

(1506, 7)

In [11]:
#getting information about the dataset
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1506 entries, 2022-10-20 to 2023-10-19
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       1506 non-null   float64
 1   High       1506 non-null   float64
 2   Low        1506 non-null   float64
 3   Close      1506 non-null   float64
 4   Adj Close  1506 non-null   float64
 5   Volume     1506 non-null   float64
 6   Name       1506 non-null   object
dtypes: float64(6), object(1)
memory usage: 175.3 KB

In [12]:
#getting the summary statistics
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Open,1506.0,1.909098e+02,1.023723e+02,5.566000e+01,1.050950e+02,1.718500e+02,2.536675e+02,5.021600e+02
High,1506.0,1.938389e+02,1.038355e+02,5.640000e+01,1.071300e+02,1.740450e+02,2.578800e+02,5.026600e+02
Low,1506.0,1.880909e+02,1.008706e+02,5.470000e+01,1.041575e+02,1.688150e+02,2.496150e+02,4.895800e+02
Close,1506.0,1.910882e+02,1.023725e+02,5.481000e+01,1.057025e+02,1.720150e+02,2.547500e+02,4.935500e+02
Adj Close,1506.0,1.908440e+02,1.022572e+02,5.481000e+01,1.057025e+02,1.718380e+02,2.538143e+02,4.935093e+02
Volume,1506.0,5.966872e+07,4.491408e+07,4.634500e+06,2.639712e+07,4.858100e+07,7.427285e+07,3.065906e+08